<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="bg-primary">
    <div class="container">
        <header>
            <% var inputText; %>
            <% var ingredientName; %>
            <% var recipePrice; %>
            <% var price; %>
            <% var quantity; %>
        </header>
        <main class="row">
            <h1 class="center">Your Shopping Cart</h1>
            <h2>Items:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Price</th>
                    </th>
                </thead>
                <tbody>
                    <% var recipes = cart["recipes"]; %>
                    <% recipes.forEach(function(recipe) { %>
                        <tr>
                            <td>
                                <h3><%- recipe["recipeName"] %></h3>
                                <ul>
                                    <% recipePrice = 0; %>
                                    <% recipe["listOfIngredients"].forEach(function(ingredient) { %>
                                        <% ingredientName = ingredient["ingredientName"]; %>
                                        <% price = ingredient["price"]; %>
                                        <% quantity = ingredient["quantity"]; %>
                                        <li>
                                            <div class="form-inline">
                                                <label><%- ingredientName %></label>
                                                <input style="width:60px" class="form-control" type="number" step="1" maxlength="3" value="<%- quantity %>" />
                                                x $<%- parseFloat(price).toFixed(2); %>
                                            </div>
                                            <% recipePrice += (quantity * price); %>
                                        </li>
                                    <% }); %>
                                </ul>
                            </td>
                            <td>
                                $<%- parseFloat(recipePrice).toFixed(2) %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total Price</td>
                        <td>$10</td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
