<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="cart-body">
    <header class="header-other">
        <% include ../partials/header %>
        <% var inputText; %>
        <% var cartId = cart["_id"]; %>
        <% var recipeId; %>
        <% var ingredientId; %>
        <% var ingredientName; %>
        <% var price; %>
        <% var units %>
        <% var quantity; %>
    </header>
    <main id="<%- cartId %>" class="container">
        <h1 class="center">Your Shopping Cart</h1>
        <h2>Items:</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Recipe</th>
                    <th class="text-center">Price</th>
                </tr>
            </thead>
            <tbody>
                <% var recipes = cart["recipes"]; %>
                <% recipes.forEach(function(recipe) { %>
                    <% recipeId = recipe["recipeId"] %>
                    <tr>
                        <td>
                            <div class="row">
                                <h3 class="col-sm-3 col-sm-offset-2 name-header"><%- recipe["recipeName"] %></h3>
                                <button type="button" class="col-sm-offset-1 col-sm-6 btn btn-info btn-remove-recipe btn-cart">remove recipe</button>
                                <button type="button" class="col-sm-offset-1 col-sm-6 btn btn-info btn-add-recipe btn-cart hidden">add recipe</button>
                            </div>
                            <ul class="cart-list" id="<%- recipeId %>">
                                <div class="row">
                                    <% recipe["listOfIngredients"].forEach(function(ingredient) { %>
                                        <% ingredientName = ingredient["ingredientName"]; %>
                                        <% ingredientId = ingredient["ingredientId"]; %>
                                        <% price = ingredient["price"]; %>
                                        <% quantity = ingredient["quantity"]; %>
                                        <% if (quantity == undefined) {quantity = 0;} %>
                                        <% units = ingredient["minQuantity"]; %>
                                        
                                        <li class="col-sm-12 row form-inline cart-li">
                                            <label class="col-sm-3 top-padding" for="<%- ingredientId %>"><%- ingredientName %> (<span class="units"><%- units %></span>)</label>
                                            <span class="col-sm-3"><input class="form-control cart-input" type="number" min="0" step="1" maxlength="3" value="<%- quantity %>" id="<%- ingredientId %>" /></span>
                                            <span class="col-sm-3 top-padding">x $<span class="price"><%- parseFloat(price).toFixed(2); %></span></span>
                                            <button type="button" class="col-sm-3 btn btn-info btn-remove-ingredient btn-cart">remove</button>
                                            <button type="button" class="col-sm-3 btn btn-info btn-add-ingredient hidden btn-cart">add</button>
                                            <span class="col-sm-offset-3 col-sm-9 hidden help-block"></span>
                                        </li>
                                    <% }); %>
                                </div>
                            </ul>
                        </td>
                        <td class="recipe-price">
                        </td>
                    </tr>
                <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total Cart Price</td>
                    <td id="cart-price"></td>
                </tr>
            </tfoot>
        </table>
        <div class="row" id="checkout-row">
            <span class="col-sm-offset-7 col-sm-5 hidden help-block"></span>
            <form id="save-form">
                <button type="button" class="btn btn-info btn-cart col-sm-offset-7 col-sm-1" id="btn-save-cart" data-toggle="modal" data-target="#save-modal">Save cart</button>
            </form>
            <form id="checkout-form">
                <button type="button" class="btn btn-success btn-cart col-sm-offset-1 col-sm-1" id="btn-checkout">Checkout</button>
            </form>
        </div>
        <div class="modal fade" id="save-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Cart Saved</h4>
                    </div>
                    <!--<div class="cart-modal modal-body text-center">
                        You're cart has been saved
                    </div>-->
                    <div class="modal-footer">
                         <button type="button" class="btn btn-primary" id="button-saved" data-dismiss="modal">Okay</button>
                    </div>
                </div> <!-- content -->
            </div> <!-- dialog -->
        </div> <!-- modal fade -->
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
    <script src="/assets/js/cart.js"></script>
</body>
</html>
