<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="bg-primary">
    <div class="container">
        <header>
            <% var inputText; %>
            <% var recipeId; %>
            <% var ingredientId; %>
            <% var ingredientName; %>
            <% var price; %>
            <% var quantity; %>
        </header>
        <main>
            <h1 class="center">Your Shopping Cart</h1>
            <h2>Items:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% var recipes = cart["recipes"]; %>
                    <% recipes.forEach(function(recipe) { %>
                        <% recipeId = recipe["recipeId"] %>
                        <tr>
                            <td>
                                <div class="row">
                                    <h3 class="col-sm-3 col-sm-offset-2 name-header"><%- recipe["recipeName"] %></h3>
                                    <button type="button" class="col-sm-offset-1 col-sm-6 btn btn-info btn-remove-recipe">remove recipe</button>
                                    <button type="button" class="col-sm-offset-1 col-sm-6 btn btn-info btn-add-recipe hide">add recipe</button>
                                </div>
                                <ul id="<%- recipeId %>">
                                    <% recipe["listOfIngredients"].forEach(function(ingredient) { %>
                                        <% ingredientName = ingredient["ingredientName"]; %>
                                        <% ingredientId = ingredient["ingredientId"]; %>
                                        <% price = ingredient["price"]; %>
                                        <% quantity = ingredient["quantity"]; %>
                                        <li class="form-inline">
                                            <label class="col-sm-3" for="<%- ingredientId %>"><%- ingredientName %></label>
                                            <span class="col-sm-3"><input style="width:60px" class="form-control" type="number" min="0" step="1" maxlength="3" value="<%- quantity %>" id="<%- ingredientId %>" /></span>
                                            <span class="col-sm-3">x $<span class="price"><%- parseFloat(price).toFixed(2); %></span></span>
                                            <button type="button" class="col-sm-3 btn btn-info btn-remove-ingredient">remove</button>
                                            <button type="button" class="col-sm-3 btn btn-info btn-add-ingredient hide">add</button>
                                        </li>
                                    <% }); %>
                                </ul>
                            </td>
                            <td class="recipe-price">
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total Cart Price</td>
                        <td class="cart-price"></td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </div>

    <% include ../partials/scripts %>
    <script src="/assets/js/cart.js"></script>
</body>

</html>
