<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="bg-primary">
    <div class="container">
        <header>
            <% var inputText; %>
            <% var recipeId; %>
            <% var ingredientId; %>
            <% var ingredientName; %>
            <% var price; %>
            <% var quantity; %>
        </header>
        <main class="row">
            <h1 class="center">Your Shopping Cart</h1>
            <h2>Items:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% var recipes = cart["recipes"]; %>
                    <% recipes.forEach(function(recipe) { %>
                        <% recipeId = recipe["recipeId"] %>
                        <tr>
                            <td>
                                <h3><%- recipe["recipeName"] %></h3>
                                <!--<ul class="<%- recipeId %>list">-->
                                <ul id="<%- recipeId %>">
                                    <% recipe["listOfIngredients"].forEach(function(ingredient) { %>
                                        <% ingredientName = ingredient["ingredientName"]; %>
                                        <% ingredientId = ingredient["ingredientId"]; %>
                                        <% price = ingredient["price"]; %>
                                        <% quantity = ingredient["quantity"]; %>
                                        <li class="in">
                                            <div class="form-inline">
                                                <button type="button" class="btn btn-danger btn-remove">X</button>
                                                <button type="button" class="btn btn-success btn-add hide">+</button>
                                                <label for="<%- ingredientId %>"><%- ingredientName %></label>
                                                <input style="width:60px" class="form-control" type="number" min="0" step="1" maxlength="3" value="<%- quantity %>" id="<%- ingredientId %>" />
                                                x $<span class="price"><%- parseFloat(price).toFixed(2); %></span>
                                            </div>
                                        </li>
                                    <% }); %>
                                </ul>
                            </td>
                            <td class="recipe-price">
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total Cart Price</td>
                        <td class="cart-price"></td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </div>

    <% include ../partials/scripts %>
    <script src="/assets/js/cart.js"></script>
</body>

</html>
