<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
    <header class="header-other">
        <% include ../partials/header %>
        <% var inputText; %>
        <% var cartId = cart["_id"]; %>
        <% var recipeId; %>
        <% var ingredientId; %>
        <% var ingredientName; %>
        <% var price; %>
        <% var quantity; %>
    </header>
<div class="container">
    <div class="page-header">
  <h3>Checkout</h3>
  <div class="alert alert-danger hidden" id="errorAlert"></div>
</div>
            <div class="row">
                <form class="form-horizontal" method="POST" action="/order">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <!--REVIEW ORDER-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Review Order <div class="pull-right"><small><a class="afix-1" href="http://localhost:3000/cart">Edit Cart</a></small></div>
                        </div>
                        <div class="panel-body">
                            <% var recipes = cart["recipes"]; %>
                            <% recipes.forEach(function(recipe) { %>
                            <% recipeId = recipe["recipeId"] %>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3">
                                    <img class="img-responsive" src="http://localhost:3000/assets/images/<%- recipe["recipeURL"]%>" />
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="col-xs-12"><strong><%- recipe["recipeName"] %></strong></div>
                                    <div class="col-xs-12"><small>
                                    <% recipe["listOfIngredients"].forEach(function(ingredient) { %>
                                        <% ingredientName = ingredient["ingredientName"]; %>
                                        <% ingredientId = ingredient["ingredientId"]; %>
                                        <% price = ingredient["price"]; %>
                                        <% quantity = ingredient["quantity"]; %>
                                        <% if (quantity == undefined) {quantity = 0;} %>
                                        <%- ingredientName %><span>(<%- quantity %>), </span>
                                    <% }); %>
                                    </small></div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-right">
                                    <h6>$<%- priceInfo[recipe["recipeName"]] %></h6>
                                </div>
                            </div>
                            <div class="form-group"><hr /></div>
                            <% }) %>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <strong>Subtotal</strong>
                                    <div class="pull-right"><span>$<%- priceInfo["totalPrice"] %></span></div>
                                </div>
                                <div class="col-xs-12">
                                    <small>Shipping</small>
                                    <div class="pull-right"><span>$3.00</span></div>
                                </div>
                            </div>
                            <div class="form-group"><hr /></div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <strong>Order Total</strong>
                                    <div class="pull-right"><span>$<%- (Number(priceInfo["totalPrice"]) + 3.00).toFixed(2) %></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--REVIEW ORDER END-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <!--SHIPPING METHOD-->
                    <div class="panel panel-info">
                        <div class="panel-heading">Address</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Shipping Address</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Country:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="country" id="country" value="<%=user.profile.country%>" placeholder="Enter Country" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>First Name:</strong>
                                    <input type="text" name="first_name" id="first_name" class="form-control" <%if(user.profile.firstname!== undefined){%> value="<%=user.profile.firstname%>"<%}else{%>value=""<%}%> placeholder="Enter First Name" required/>
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Last Name:</strong>
                                    <input type="text" name="last_name" id="last_name" class="form-control" <%if(user.profile.lastname!== undefined){%> value="<%=user.profile.lastname%>"<%}else{%>value=""<%}%> placeholder="Enter Last Name" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Address:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="address" id="address" class="form-control" <%if(user.profile.address!== undefined){%> value="<%=user.profile.address%>"<%}else{%>value=""<%}%> placeholder="Enter Address" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>City:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="city" id="city" class="form-control" <%if(user.profile.city!== undefined){%> value="<%=user.profile.city%>"<%}else{%>value=""<%}%> placeholder="Enter City" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>State:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="state" id="state" class="form-control" <%if(user.profile.state!== undefined){%> value="<%=user.profile.state%>"<%}else{%>value=""<%}%> placeholder="Enter state" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="zip_code" pattern="(\d{5}([\-]\d{4})?)" id="zip_code" class="form-control" <%if(user.profile.zip!== undefined){%> value="<%=user.profile.zip%>"<%}else{%>value=""<%}%> placeholder="Enter Zip code"required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                <div class="col-md-12"><input required pattern="\d{3}[\-]\d{3}[\-]\d{4}" name="phone_number" id="phone" class="form-control" <%if(user.profile.phone!== undefined){%> value="<%=user.profile.phone%>"<%}else{%>value=""<%}%> placeholder="Enter Phone Number - eg-123-456-7890"/></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                <div class="col-md-12"><input type="email" name="email_address" id="email" class="form-control" value="<%=user.username%>"placeholder="Enter Email Address" required/></div>
                            </div>
                        </div>
                    </div>
                    <!--SHIPPING METHOD END-->
                    <!--CREDIT CART PAYMENT-->
                    <div class="panel panel-info">
                        <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12"><strong>Card Type:</strong></div>
                                <div class="col-md-12">
                                    <select id="CreditCardType" name="CreditCardType" id="CreditCardType" class="form-control" required>
                                        <option value="5">Visa</option>
                                        <option value="6">MasterCard</option>
                                        <option value="7">American Express</option>
                                        <option value="8">Discover</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Credit Card Number:</strong></div>
                                <div class="col-md-12"><input type="text" pattern="[0-9]{16}" class="form-control" name="car_number" id="card_no" value="<%=user.profile.credit_card_no%>" placeholder="eg. 3400000000000000"required/></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Card CVV:</strong></div>
                                <div class="col-md-12"><input type="text" pattern="[0-9]{3}" class="form-control" name="car_code" id="card_code" value="" placeholder="eg.123" required/></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Expiration Date</strong>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" name="" id="exp_month" required>
                                        <option value="">Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" name="" id="exp_year" required>
                                        <option value="">Year</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span>Pay secure using your credit card.</span>
                                </div>
                                <div class="col-md-12">
                                    <ul class="cards">
                                        <li class="visa hand">Visa</li>
                                        <li class="mastercard hand">MasterCard</li>
                                        <li class="amex hand">Amex</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-submit-fix" id="placeorder">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--CREDIT CART PAYMENT END-->
                </div>

                </form>
            </div>
            <div class="row cart-footer">

            </div>
    </div>
<% include ../partials/scripts %>
</body>
</html>
