<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>   
    
    <style>

        .well{
            margin: auto;   
            text-align: center;
            background-color: white;
            border-left: white;
            border-right: white;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .panel-heading{
            text-align: center;
        }

        #bill_table{
            border-bottom: solid 2px;
        }
    </style>
    
    
</head>
<body>
<div class="homepage">
    <header class="header-other">
        <% include ../partials/header %>
    </header>
    <div class="well">
        <h4>Success - your order is confirmed!</h4>
        <h4>Order number: <%= orderid %></h4>
    </div>

    <br/><br/>
    <div class="row">
        <div class="col-sm-11">
            <p>
                <span><strong>Shipping Address:</strong></span><br/>
                <span><%= firstname %> <%= lastname %></span><br/>
                <span><%= contactnumber %></span><br/>
                <span><%= address %></span><br/>
                <span><%= zip %>, <%= city %>, <%= country %></span><br/>
            </p>
        </div>
        <div class="col-sm-1">
            <span style="font-size:4em;" class="glyphicon glyphicon-cloud-download "></span>
        </div>

    </div>

    <br/><br/>
    <div class="panel panel-primary">
        <div class="panel-heading" ><span class="glyphicon glyphicon-question-sign"></span> Following are the purchase details.</div>
        <div class="panel-body">
            <table class="table" id="bill_table">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                
                <% products.forEach(function(product){ %>
                
                <tr>
                    <td><%= product.productname %></td>
                    <td><%= product.productprice %></td>
                </tr>
                
                <% }); %>
                    
                
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-9">

                </div>
                <div class="col-sm-3">
                    <table class="table" border="0">
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><%= purchasecost %></td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<% include ../partials/scripts %>
</body>
</html>